@font-face {
    font-family: 'UbuntuMono';
    font-style: normal;
    font-weight: 400;
    src: local('UbuntuMono'), url('../fonts/UbuntuMono-R.WOFF') format('woff');
}

* {
  align-content: center;
}

body {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'UbuntuMono'; 
    word-wrap: break-word;
    font-weight: bold;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.content p {
  font-weight: 550;
}

.content h1 {
 font-size: 1.5rem;
}

.content h1 em {
 font-size: 0.9rem;
}

.content h2,
.content h3,
.content h4,
.content h5 {
  font-size: 1rem;
  margin-bottom: -10px;
}

.content h2:before {
  content: "## ";
}
.content h3:before {
  content: "### ";
}
.content h4:before {
  content: "#### ";
}
.content h5:before {
  content: "##### ";
}
.content h6:before {
  content: "###### ";
}

.content li {
  position: relative;
  display: block;
  font-weight: 550;
}
.content li:after {
  position: absolute;
  top: 0;
  left: 0;
}
.content ul > li:after {
  content: "-";
  margin-left: -40px;
}