.nord-light {
    background-color: #eceff4;
    color: #2e3440
}

.nord-light h1 {
    color: #4c566a
}

 .nord-light h2 {
    color: #5e81ac
}

.nord-light h3 {
    color: #5f8994
}

.nord-light h4, .nord-light h5, .nord-light h6 {
    color: #5f8994
}

.nord-light h1 a, .nord-light h2 a, .nord-light h3 a, .nord-light h4 a, .nord-light h5 a, .nord-light h6 a {
    color: #709493;
    border-bottom-color: #709493
}

.nord-light h1 a:hover, .nord-light h2 a:hover, .nord-light h3 a:hover, .nord-light h4 a:hover, .nord-light h5 a:hover, .nord-light h6 a:hover {
    background-color: #d8dee9;
    color: #709493
}

.nord-light .navbar a {
    color: #4c566a;
}

.nord-light .navbar a:hover {
    padding: 13x;
    color: #d8dee9;
    background: #4c566a;
}

.nord-light .content a {
    color: #d08770
}

.nord-light .content a:hover {
    color: #d08770;
}

.nord-light .content a:visited {
    color: #b48ead;
    border-color: #a89984
}

.nord-light .content a:visited:hover {
    color: #775e72;;
    background-color: #a89984
}

.nord-light pre {
    background-color: #2e3440;
    padding: 1%;
    border: 1px;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
}

.nord-light pre code {
    color: #8fbcbb
}

.nord-light .progress-bar-filled:after, .nord-light .progress-bar-filled:before, .nord-light code, .nord-light strong {
    color: #2e3440
}

.nord-light code {
    font-weight: 100
}

.nord-light .progress-bar-filled {
    background-color: #98971a
}

.nord-light table {
    color: #fdf4c1
}

.nord-light table td, .nord-light table th {
    border-color: #b0bec5
}

.nord-light table tbody td:first-child {
    color: #b0bec5
}

.nord-light .form-control, .nord-light .form-group label {
    color: #709493;
    border-color: #709493
}

.nord-light .form-group.form-textarea label:after {
    background-color: #282828
}

.nord-light .form-control:focus {
    border-color: #709493;
    color: #bdae93
}

.nord-light textarea.form-control {
    color: #fdf4c1
}

.nord-light .card {
    border-color: #98971a
}

.nord-light .card .card-header {
    background-color: transparent;
    color: #fdf4c1;
    border-bottom: 1px solid #98971a
}

.nord-light .btn.btn-ghost.btn-default {
    border-color: #607d8b;
    color: #607d8b
}

.nord-light .btn.btn-ghost.btn-default:focus, .nord-light .btn.btn-ghost.btn-default:hover {
    z-index: 1;
    border-color: #709493;
    color: #ebdbb2
}

.nord-light .btn.btn-ghost.btn-primary:focus, .nord-light .btn.btn-ghost.btn-primary:hover {
    border-color: #689d6a;
    color: #689d6a
}

.nord-light .btn.btn-ghost.btn-success:focus, .nord-light .btn.btn-ghost.btn-success:hover {
    border-color: #98971a;
    color: #98971a
}

.nord-light .btn.btn-ghost.btn-info:focus, .nord-light .btn.btn-ghost.btn-info:hover {
    border-color: #458588;
    color: #458588
}

.nord-light .btn.btn-ghost.btn-error:focus, .nord-light .btn.btn-ghost.btn-error:hover {
    border-color: #cc241d;
    color: #cc241d
}

.nord-light .btn.btn-ghost.btn-warning:focus, .nord-light .btn.btn-ghost.btn-warning:hover {
    border-color: #d79931;
    color: #d79931
}

.nord-light .avatarholder, .nord-light .placeholder {
    background-color: transparent;
    border-color: #3c3836
}

.nord-light .menu .menu-item {
    color: #fdf4c1;
    border-color: #98971a
}

.nord-light .menu .menu-item.active, .nord-light .menu .menu-item:hover {
    color: #cc241d;
    border-color: #fdf4c1
}