<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/nord.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <title>Welcome to my portfolio</title>
    

    <!-- styles -->
  </head>
  <body class="nord-light">
      <!-- navbar -->
      <p class="navbar">
            <a href="/">Home</a>
            -
            <a href="/resume">CV</a>
            -
            <a href="/contact">Contact</a>
      </p>
   
    {% block content %}
    {% endblock %}

    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
